<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--驼峰命名规则-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--包类型-->
    <typeAliases>
        <package name="org.jxnd.tongxuelu.bean"/>
    </typeAliases>

    <!--<plugins>-->
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">-->
            <!--&lt;!&ndash;分页参数合理化  &ndash;&gt;-->
            <!--<property name="reasonable" value="true"/>-->
        <!--</plugin>-->
    <!--</plugins>-->

    <!--
    In the configuration file,
    plugins location must meet the requirements as the following order:
    properties?, settings?,
    typeAliases?, typeHandlers?,
    objectFactory?,objectWrapperFactory?,
    plugins?,
    environments?, databaseIdProvider?, mappers?
-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- config params as the following -->
            <!--&lt;!&ndash;分页参数合理化  &ndash;&gt;-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>



</configuration>